<footer class="page-footer text-center font-weight-bold">


    <div class="footer-copyright text-nowrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5 text-sm-left text-nowrap">

                    Copyright 2020-2021 <a href="/home" class="text-reset"> FreeGo Passport</a>
                </div>

                <div class="col-sm-5 text-sm-right text-nowrap">
                    Powered by<a href="http://www.gofreelab.com/" class="text-reset"> GoFreeLab Technologies</a>
                </div>
            </div>
        </div>
    </div>

</footer>