
<div class="imgdiv">  
    <img src="../../assets/coverimage.png" height="100%" width= "100%"class="img1" alt="Cover ">  
    </div>




<section id="section-team" class="section appear clearfix">    

   
    <h2 class="h1-responsive font-weight-bold my-5">Job Categories</h2>
    
    <div class="row">

        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
           
            <p class="text-uppercase blue-text"><strong>Front End Developers</strong></p>
            <p class="grey-text">A front end developer has one general responsibility: to ensure that website visitors can easily interact with the page. They do this through the combination of design, technology and programming to code a website's appearance, as well as taking care of debugging</p>
            
        </div>
       
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
           
            <p class="text-uppercase blue-text"><strong>Web developers</strong></p>
            <p class="grey-text">Web developers build and shape visitors' experiences at websites. They do this through the creation of page layouts (headings and paragraphs), website styling (colors and fonts), and page features (animations and pictures).</p>

        </div>
       
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
            
            <p class="text-uppercase blue-text"><strong>Software Engineers</strong></p>
            <p class="grey-text">A software engineer's job scope is often determined by a project, product, or engineering manager. At the highest level, a software engineer is responsible for researching, designing, implementing, and supporting software solutions to various problems.</p>
            <ul class="list-unstyled mb-0">
               
            </ul>
        </div>
       
        <div class="col-lg-3 col-md-6">
           
            <p class="text-uppercase blue-text"><strong>Backend Developers</strong></p>
            <p class="grey-text">A back-end web developer is responsible for server-side web application logic and integration of the work front-end web developers do. Back-end developers usually write web services and APIs used by front-end developers and mobile application developers.</p>
          
        </div>
       
    </div>
  

</section>



<!-- Contact Us -->
<section id="section-contactus" class="section appear clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2>CONTACT US</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe src="https://maps.google.com/maps?q=Gofreelab&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>
                <!--Google Maps-->
            </div>

            <div class="col-md-6 sendmessagediv">
                <div class="row">
                    <div class="col">
                        <div class="md-form md-outline">
                            <input type="text" id="yournametext" class="form-control">
                            <label for="yournametext">Your Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form md-outline">
                            <input type="email" id="youremailemail" class="form-control">
                            <label for="youremailemail">Your Email</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form md-outline">
                            <input type="text" id="yourmobilenumber" class="form-control">
                            <label for="yourmobilenumber">Your Mobile Number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form md-outline">
                            <input type="text" id="yourcompanyname" class="form-control">
                            <label for="yourcompanyname">Your Company Name</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form md-outline">
                            <input type="text" id="yourwebsite" class="form-control">
                            <label for="yourwebsite">Your Website</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="md-form md-outline">
                            <input type="text" id="subject" class="form-control">
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="md-form md-outline">
                            <textarea class="form-control z-depth-1" id="message" rows="3"></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-light waves-effect btn-block">Send Message</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us -->


<!-- Footer -->

    <footer class="page-footer ">
         <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
            <i class="fab fa-dribbble"> </i>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="http://www.gofreelab.com/"> Gofreelab.com All Rights Reserved </a>-Powered by<a href="http://www.gofreelab.com/" class="text-reset">  GoFreeLab Technologies</a>
    </div>
    <!-- Copyright -->
    
  </footer>
  
</footer>
<!-- Footer --> 

