
 .div100vh {
    width:100%;
    height:100vh;
} 

.page-footer {
  background-color: #0f0d73;
 
}

.video-fluid {
  width: 100%;
  height: auto;
}


.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  .sendmessagediv{
    background-color: white;
  }